:root {
    --pink-900: #d7317e;
    --pink-800: #ea4a94;
    --pink-700: #fa6faf;
    --pink-400: #f9d3e6;
    --pink-200: #fff0f7;
    --semantic-green: #1c9d3c;
    --green-900: #0b8f51;
    --green-800: #00a75c;
    --green-700: #3dba6b;
    --green-400: #cde6cf;
    --green-300: #def2e0;
    --green-200: #eaf7eb;
    --grey-900: #4b4a4d;
    --grey-800: #969499;
    --grey-700: #afaeb3;
    --grey-600: #d5d2d9;
    --grey-500: #e1dfe5;
    --grey-400: #eeecf2;
    --grey-300: #f2f0f5;
    --grey-200: #f8f7fa;
    --grey-100: #fdfcff;
    --red: #eb5252;
    --red-bg-200: #fae3e6;
    --red-light-100: #fef2f2;
    --red-hover: #fe5d5d;
    --red-pressed: #e52f2f;
    --blue: #007aff;
    --blue-hover: #61adff;
    --blue-pressed: #003cc7;
    --blue-light: #90b5ff;
    --blue-bg-200: #e2ecff;
    --orange: #f27a18;
    --orange-light: #fcf2db;
    --overlay-50: #19191a80;
    --overlay-30: #19191a4d;
    --white: #fff;
    --black: #19191a;
}
