:root {
    --font-button-s-700: 700 14px/14px Wix;
    --font-button-s-600: 600 14px/14px Wix;
    --font-button-xs-600: 600 10px/10px Wix;
    --font-xs-700: 700 14px/20px Wix;
    --font-select: 500 14px/20px Wix;
    --font-button-link: 600 14px/20px Wix;
    --font-s-600: 600 14px/20px Wix;
    --font-s-500: 500 14px/20px Wix;
    --font-s-400: 400 14px/20px Wix;
    --font-xs-600: 600 12px/16px Wix;
    --font-xs-500: 500 12px/16px Wix;
    --font-m-700: 700 16px/20px Wix;
    --font-l-700: 700 32px/32px Wix;
    --font-h2: 800 18px/24px Wix;
    --font-h3: 700 14px/20px Wix;
    --font-h4: 500 10px/10px Wix;
    --font-s-700: 700 18px/24px Wix;
    --font-subtitle-500: 500 10px/10px Wix;
}
