.main_layout {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100dvh;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    height: 100vh;
    padding: 42px 32px;
    padding-top: 0;
    background-color: var(--white);
}
